openapi: 3.0.1
info:
  title: CZERTAINLY CMP API
  description: CMP API according to the RFC 4210
  contact:
    name: CZERTAINLY
    url: https://www.czertainly.com
    email: getinfo@czertainly.com
  license:
    name: MIT License
    url: https://github.com/3KeyCompany/CZERTAINLY/blob/develop/LICENSE.md
  version: 2.12.1-SNAPSHOT
  x-logo:
    url: images/czertainly_color_H.svg
externalDocs:
  description: CZERTAINLY Documentation
  url: https://docs.czertainly.com
servers:
- url: http://localhost:8080
  description: Generated server url
tags:
- name: CMP RA Profile
  description: Interfaces used by CMP clients to request CMP related operations on
    top of RA Profile. CMP Profile defines the behaviour for the specific CMP configuration.
    CMP Profile is bound with specific RA Profile and it can be used by the CMP clients
    to request operations on their specific URL. These operations are always specific
    only for the RA Profile.
- name: CMP operations
  description: "Interfaces used by CMP clients to request CMP related operations.\
    \ CMP Profile defines the behaviour for the specific CMP configuration. When the\
    \ CMP Profile contains default RA Profile, it can be used by the CMP clients to\
    \ request operations on their specific URL."
paths:
  /v1/protocols/cmp/{cmpProfileName}:
    get:
      tags:
      - CMP operations
      summary: CMP Get Operations
      operationId: doGet
      parameters:
      - name: cmpProfileName
        in: path
        required: true
        schema:
          type: string
      - name: message
        in: query
        description: DER encoded CMP data
        required: false
        schema:
          type: string
          description: DER encoded CMP data
          format: binary
      responses:
        "500":
          description: Internal Server Error
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDocument'
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDocument'
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDocument'
    post:
      tags:
      - CMP operations
      summary: CMP Post Operation
      externalDocs:
        description: RFC 4210
        url: https://www.rfc-editor.org/rfc/rfc4210
      operationId: doPost
      parameters:
      - name: cmpProfileName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/pkixcmp:
            schema:
              type: string
              description: Binary CMP data
              format: binary
        required: true
      responses:
        "200":
          description: Operation executed
          content:
            application/pkixcmp:
              schema:
                type: string
                description: "Response structure(s) defined in RFC 4210, section 5.3"
                format: binary
                externalDocs:
                  description: RFC 4210
                  url: https://www.rfc-editor.org/rfc/rfc4210#section-5.3
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDocument'
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDocument'
        "500":
          description: Internal Server Error
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDocument'
  /v1/protocols/cmp/raProfile/{raProfileName}:
    get:
      tags:
      - CMP RA Profile
      summary: CMP Get Operations
      operationId: doGet_1
      parameters:
      - name: raProfileName
        in: path
        required: true
        schema:
          type: string
      - name: message
        in: query
        description: DER encoded CMP data
        required: false
        schema:
          type: string
          description: DER encoded CMP data
          format: binary
      responses:
        "500":
          description: Internal Server Error
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDocument'
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDocument'
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDocument'
    post:
      tags:
      - CMP RA Profile
      summary: CMP Post Operation
      externalDocs:
        description: RFC 4210
        url: https://www.rfc-editor.org/rfc/rfc4210
      operationId: doPost_1
      parameters:
      - name: raProfileName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/pkixcmp:
            schema:
              type: string
              description: Binary CMP data
              format: binary
        required: true
      responses:
        "200":
          description: Operation executed
          content:
            application/pkixcmp:
              schema:
                type: string
                description: "Response structure(s) defined in RFC 4210, section 5.3"
                format: binary
                externalDocs:
                  description: RFC 4210
                  url: https://www.rfc-editor.org/rfc/rfc4210#section-5.3
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDocument'
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDocument'
        "500":
          description: Internal Server Error
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDocument'
components:
  schemas:
    ProblemDocument:
      required:
      - detail
      - instance
      - type
      type: object
      properties:
        type:
          type: string
          description: Type of the ACME problem
          example: notFound
        title:
          type: string
          description: ACME problem title
          example: Not Found
        detail:
          type: string
          description: ACME problem details
          example: Requested object is not found
        instance:
          type: string
          description: URL of the changes if something needs to be approved
          example: https://some-company.com/instances/changes
        subproblems:
          type: array
          description: List of subproblems related to error
          items:
            $ref: '#/components/schemas/ProblemDocument'
        algorithms:
          type: array
          description: List of supported algorithms
          example: ES256
          items:
            type: string
            description: List of supported algorithms
            example: ES256
